@{
  ViewData["Title"] = "Usuário";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="row" id="usuario-container">

        <div class="col-3" id="usuario-menu-lateral">
            <button class="usuario-menu-btn1 usuario-menu-btn2">Adicionar</button>
            <button class="usuario-menu-btn1 usuario-menu-btn2">Editar</button>
            <button class="usuario-menu-btn1 usuario-menu-btn2">Listar</button>
            <button class="usuario-menu-btn1 usuario-menu-btn2">Excluir</button>
        </div>
        <div class="col-9" id="usuario-tela">
            tela
        </div>
    </div>
</div>