/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: linear-gradient(325deg, rgba(231, 243, 0, 0.6) 20%, rgba(255, 144, 0, 0.7) 40%, rgba(0, 255, 231, 0.57) 95%);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  /* Vertically center the text there */
}

/* Estilo da página inicial (Index) */

#menu-index {
  height: 450px;
  width: 400px;
}

#menu-index-btn-box {
  height: 150px;
  width: 100%;
  padding: 0 20px;
}

#btn-login, #btn-vitrine {
  height: 125px;
  width: 125px;
  border: 10px solid rgba(0,0,0,0.1);
  border-radius: 100%;
  box-shadow: 2px 2px 20px -5px rgba(0,0,0,0.75);
  transition: 0.4s;
  font-size: 20px;
}

#btn-login:hover, #btn-vitrine:hover {
  scale: 1.2;  
  border: 5px solid rgba(0,0,0,0.1);
}

#modal-dialog {
  width: 350px;
}

#modal-body {
  width: 80%;
}

#login-input, #senha-input {
  margin-bottom: 15px;
}

#login-error-msg {
  position: absolute;
  bottom: 25%;
}

/* Vitrine Container */

#vitrine-container {
  width: 80%;
  height: 450px;
  overflow-y: scroll;
}

#vitrine-container .card {
  width: 98%;
  margin: 0 auto;
}

#vitrine-container::-webkit-scrollbar {
  width: 10px;
  margin-left: 5px;
}

#vitrine-container::-webkit-scrollbar-track {
  background: #ffffff69;
  border-radius: 5px;
}

#vitrine-container::-webkit-scrollbar-thumb {
  background: #151515c4;
  border-radius: 5px;
  
}

/* Cards  */

.card {
  padding: 5px;
  height: 225px;
  display: flex;
  justify-content: center;
}

#card-title {
  margin: 0;
}

#card-content {
  width: 75%;
  max-width: 75%;
}

#card-body {
  height: 100%;
}

#card-image {
  width: 25%;
}

#card-image img{
  height: 100%;
}

#card-atrativos {
  height: 40%;
  width: 100%;
}

/* Tela de usuários */

#usuario-container {
  width: 90%;
  height: 500px;
}


/* Menu lateral */

.usuario-menu-btn1 {
  display: block;
  width: 70%;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #000;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 20px;
}
.usuario-menu-btn2 {
  border-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
  
.usuario-menu-btn2:hover {
  background-color: #f37389;
  color: #fff;
}

/* Tela do usuario */

#usuario-tela {
  background-color: #ffffff49;
  border-radius: 10px;
  padding: 10px;
  height: 500px;
}

#usuario-menu-tela-adicionar,
#usuario-menu-tela-editar,
#usuario-menu-tela-listar,
#usuario-menu-tela-excluir {
  width: 100%;
  height: 100%;
  background-color: #ffffffd5;
  padding: 10px;
  display: none;
}

#form-usuario-adicionar {
  width: 70%;
  margin: 5px auto;
}

#form-usuario-editar {
  width: 50%;
  margin-right: 10px;
}

#form-usuario-editar-anterior {
  width: 40%;
}

#usuario-menu-listar-lista {
  overflow-y: scroll;
  height: 100%;
  max-height: 100%;
}

#usuario-menu-listar-lista::-webkit-scrollbar {
  width: 5px;
  margin-left: 5px;
}

#usuario-menu-listar-lista::-webkit-scrollbar-track {
  background: #ffffff69;
  border-radius: 5px;
}

#usuario-menu-listar-lista::-webkit-scrollbar-thumb {
  background: #151515c4;
  border-radius: 5px;
}

#usuario-menu-tela-excluir #btn-excluir {
  width: 150px;
  margin-top: 10px;
  border: 1px solid #f373888c;
}
